In [1]:
import math

def func(x):
    y = math.cos(x)**2 + math.sin(x)**2
    return y

if __name__ == '__main__':
    
    x = 1.23456
    print ("cos(%f)^2 + sin(%f)^2 = %f"%(x,x,func(x)))

cos(1.234560)^2 + sin(1.234560)^2 = 1.000000

In [2]:
a=3.14
b=4
c=1+2j
d=complex(a,b)
e='cat'
print("type of a,b,c,d,e : \n %s\n %s\n %s\n %s\n %s"%(type(a),type(b),type(c),type(d),type(e)))

type of a,b,c,d,e :
 <type 'float'>
 <type 'int'>
 <type 'complex'>
 <type 'complex'>
 <type 'str'>

In [3]:
0b100
0o100
0x100

256

In [4]:
0b100

4

In [5]:
0o100

64

In [6]:
0x100

256

In [7]:
a=2.0**1023
a

8.98846567431158e+307

In [8]:
a = 2.0**1024

OverflowError: (34, 'Numerical result out of range')

In [9]:
b = 2.**(-1023)
b

1.1125369292536007e-308

In [10]:
b = 2.**(-1075)
b

0.0

In [11]:
c = 1+2j
print c
print c.real
print c.imag
print abs(c)

(1+2j)
1.0
2.0
2.2360679775

In [12]:
import cmath
d=complex(0.0,-cmath.pi)
d
cmath.exp(d)

(-1-1.2246467991473532e-16j)

In [13]:
d

-3.141592653589793j

In [14]:
a = 'this is an unicode string in Python3'
a

'this is an unicode string in Python3'

In [15]:
type(a)

str

In [16]:
isinstance(a,str)

True

In [22]:
isinstance(a,bytes)

True

In [21]:
a

'this is an unicode string in Python3'

In [23]:
b = a.encode('utf-8')
b

'this is an unicode string in Python3'

In [24]:
type(b)

str

In [25]:
isinstance(b,str)

True

In [26]:
isinstance(b,bytes)

True

In [27]:
for i in 'Python':
    print i

P
y
t
h
o
n

In [28]:
a = 'Python'
a[0]

'P'

In [29]:
a[5]

'n'

In [30]:
b = ' is fun ! '
c = a + b
c

'Python is fun ! '

In [31]:
3*c

'Python is fun ! Python is fun ! Python is fun ! '

In [32]:
print 'my number is '+str(3)

my number is 3

In [34]:
print 'my number is %s' %(3)

my number is 3

In [35]:
print 'my number is %(number)s' % dict(number=3)

my number is 3

In [36]:
animals = ['cat','dog','tiger']
animals

['cat', 'dog', 'tiger']

In [37]:
type(animals)

list

In [38]:
animals.append('eagle')

In [39]:
animals

['cat', 'dog', 'tiger', 'eagle']

In [40]:
animals.insert(1,'frog')
animals

['cat', 'frog', 'dog', 'tiger', 'eagle']

In [41]:
animals.extend(['crow','hornet'])
animals

['cat', 'frog', 'dog', 'tiger', 'eagle', 'crow', 'hornet']

In [42]:
animals += ['bee']
animals

['cat', 'frog', 'dog', 'tiger', 'eagle', 'crow', 'hornet', 'bee']

In [43]:
animals += ['cat']
animals.index('cat')

0

In [45]:
animals.index('cat',1)

8

In [46]:
animals.count('cat')

2

In [47]:
animals.pop()

'cat'

In [48]:
animals.pop()

'bee'

In [49]:
animals.pop(1)

'frog'

In [50]:
animals

['cat', 'dog', 'tiger', 'eagle', 'crow', 'hornet']

In [51]:
animals.remove('cat')

In [52]:
animals

['dog', 'tiger', 'eagle', 'crow', 'hornet']

In [53]:
animals.sort()
animals

['crow', 'dog', 'eagle', 'hornet', 'tiger']

In [58]:
animals.reverse()
animals

['crow', 'dog', 'eagle', 'hornet', 'tiger']

In [55]:
a = [1,2,3,4,5]
b = [x*3 for x in a if x % 2 == 0]
print b

[6, 12]

In [56]:
a[0] = 100
a

[100, 2, 3, 4, 5]

In [57]:
tup = (1,2,3,4,5)
tup[0]

1

In [59]:
tup[0] = 100

TypeError: 'tuple' object does not support item assignment

In [60]:
a = {'k1':1, 'k2':2}
print a['k1']
print a['k2']

1
2

In [61]:
'k1' in a

True

In [62]:
'k2' in a

True

This is comment line.

In [63]:
'k3' in a

False

In [1]:
hungry = True # Bool type
sleepy = False # Bool type

my_condition_and = (hungry and sleepy)
my_condition_or = (hungry or sleepy)
my_condition_xor = (hungry ^ sleepy)

if my_condition_and:
    print("Then, have a meal and take a nap")
else:
    print("Then, choose one : napping, eating, studying")
    
if my_condition_or:
    print("Then, have a meal OR take a nap")
else:
    print("Then, let's study")
    
if my_condition_xor:
    print("Then, have a meal OR take a nap")
else:
    print("Then, choose one : eating&napping, studying")

Then, chhose one : napping, eating, studying
Then, have a meal OR take a nap
Then, have a meal OR take a nap

In [2]:
a = 0.
if a & 10./a:
    print("10/a = %s"%(10./a))
else:
    print(" division is not defined.")

ZeroDivisionError: float division by zero

In [3]:
a = 0.
if a and 10./a:
    print("10/a = %s"%(10./a))
else:
    print(" division is not defined.")

 division is not defined.