In [1]:
l = [True, "dog", 10]
for i in l:
    print(i, type(i))
for i in iter(l):
    print(i, type(i))

True <class 'bool'>
dog <class 'str'>
10 <class 'int'>
True <class 'bool'>
dog <class 'str'>
10 <class 'int'>

In [2]:
d = {"orange":10, "apple":20, "melon":30}
for k in d:
    print (k)
for k in iter(d):
    print (k)

melon
apple
orange
melon
apple
orange

In [4]:
for k,v in d.items():
    print (k, v)
for k in d.keys():
    print (k)
for k in d.values():
    print (v)

melon 30
apple 20
orange 10
melon
apple
orange
10
10
10

In [5]:
for i in d.items():
    print (i, type(i))

('melon', 30) <class 'tuple'>
('apple', 20) <class 'tuple'>
('orange', 10) <class 'tuple'>

In [6]:
s = "y=x"
for i in s:
    print (i, type(i))
for i in iter(s):
    print (i, type(i))

y <class 'str'>
= <class 'str'>
x <class 'str'>
y <class 'str'>
= <class 'str'>
x <class 'str'>

In [7]:
a = 0
while a < 10:
    print(a)
    a += 1

0
1
2
3
4
5
6
7
8
9

In [8]:
LIST = [1,2,3,4,5,6,7,8,9,10]
for i in LIST:
    if i > 5:
        break
    print("LIST item (5이하): %i"%(i))

for i in LIST:
    if i % 2 == 1:
        continue
    print("LIST item (짝수):{0}".format(i))

LIST item (5이하): 1
LIST item (5이하): 2
LIST item (5이하): 3
LIST item (5이하): 4
LIST item (5이하): 5
LIST item (짝수):2
LIST item (짝수):4
LIST item (짝수):6
LIST item (짝수):8
LIST item (짝수):10

In [11]:
l1 = list(range(10))
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
l2 = list(range(5,10))
l2

[5, 6, 7, 8, 9]

In [13]:
l3 = list(range(0,10,2))
l3

[0, 2, 4, 6, 8]

In [14]:
l4 = list(range(10,0,-1))
l4

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [15]:
for i in range(5):
    print(i)
for i in range(0,10,2):
    print(i)

0
1
2
3
4
0
2
4
6
8

In [16]:
s = "Awesome Python"
for i in range(len(s)):
    print(" s[%i] = %s"%(i,s[i]))

 s[0] = A
 s[1] = w
 s[2] = e
 s[3] = s
 s[4] = o
 s[5] = m
 s[6] = e
 s[7] =
 s[8] = P
 s[9] = y
 s[10] = t
 s[11] = h
 s[12] = o
 s[13] = n

In [17]:
for i,v in enumerate(s):
    print(" s[%i] = %s"%(i,s[i]))

 s[0] = A
 s[1] = w
 s[2] = e
 s[3] = s
 s[4] = o
 s[5] = m
 s[6] = e
 s[7] =
 s[8] = P
 s[9] = y
 s[10] = t
 s[11] = h
 s[12] = o
 s[13] = n

In [18]:
es = enumerate(s)
es.__next__()

(0, 'A')

In [19]:
es.__next__()

(1, 'w')

In [20]:
es.__next__()

(2, 'e')

In [21]:
LIST = list(range(1,11))
LIST

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
[i**2 for i in LIST]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [23]:
TUPLE = ("lion","tiger","cat")
[len(i) for i in TUPLE]

[4, 5, 3]

In [24]:
DICT = {1:"lion", 2:"tiger", 3:"cat"}
[v.upper() for v in DICT.values()]

['LION', 'TIGER', 'CAT']

In [25]:
LIST1 = ["apple","banana","kiwi","orange"]
LIST2 = [i for i in LIST1 if len(i) > 5]
print (LIST2)

['banana', 'orange']

In [26]:
LIST1 = [1,2]
LIST2 = [1,-2,3,-4]
LIST3 = [x*y for x in LIST1 for y in LIST2]
print(LIST3)

[1, -2, 3, -4, 2, -4, 6, -8]

In [28]:
LIST = [10,20,30,40]
def BiggerThan20(i):
    return i > 20

Iter = filter(BiggerThan20,LIST)
for i in Iter:
    print("Iter's item: {0}".format(i))

Iter's item: 30
Iter's item: 40

In [30]:
l = [1,2,3,4,5]

def filter_func(i):
    return i > 3

iterF = filter(filter_func,l)
iterF

for i in iterF:
    print("filtered item of l: {0}".format(i))

filtered item of l: 4
filtered item of l: 5

In [31]:
l2 = list(iterF)
l2

[]

In [32]:
l3 = list(filter(filter_func,l))
l3

[4, 5]

In [33]:
k = ['a','b','c']
v = [1,2,3]
iterZ = zip(k,v)
print(iterZ, type(iterZ))
for i in iterZ:
    print(i)

<zip object at 0x7f6220d9cd48> <class 'zip'>
('a', 1)
('b', 2)
('c', 3)

In [34]:
l = list(zip(k,v))
print(l)

[('a', 1), ('b', 2), ('c', 3)]

In [35]:
t = tuple(zip(k,v))
print(t)

(('a', 1), ('b', 2), ('c', 3))

In [36]:
d = dict(zip(k,v))
print(d)

{'a': 1, 'c': 3, 'b': 2}

In [37]:
v1 = [1,2,3]
v2 = [11,12,13]
l = list(zip(k,v1,v2))
print(l)

[('a', 1, 11), ('b', 2, 12), ('c', 3, 13)]

In [38]:
d = dict(zip(k,list(zip(v1,v2))))
print(d)

{'a': (1, 11), 'c': (3, 13), 'b': (2, 12)}

In [40]:
l = list(zip(k,v))
k2, v2 = zip(*l)
k2

('a', 'b', 'c')

In [41]:
v2

(1, 2, 3)

In [42]:
l = zip(k,v)
l

In [43]:
type(l)

zip

In [44]:
iterZ = zip(k,v)
l = list(iterZ)
l

[('a', 1), ('b', 2), ('c', 3)]

In [45]:
d = dict(iterZ)
d

{}

In [46]:
d = dict(zip(k,v))
d

{'a': 1, 'b': 2, 'c': 3}

In [47]:
LIST = [1,2,3,4,5]
def add100(i):
    return i+100

IterM = map(add100,LIST)
for i in IterM:
    print("IterM item: {0}".format(i))

IterM item: 101
IterM item: 102
IterM item: 103
IterM item: 104
IterM item: 105

In [48]:
def Multiply(a,b):
    return a*b

Multiply

In [49]:
Multiply(2,3)

6

In [50]:
def swap(a,b):
    return b, a

swap(10,20)

(20, 10)

In [51]:
c,d = swap(10,20)
print (c,d)

20 10

In [52]:
x = swap(10,20)
type(x)

tuple

In [53]:
x

(20, 10)

In [55]:
def setvalue(x):
    y = x
    
print(setvalue(10))

None

In [56]:
x = 1
def func(a):
    return a+x

func(1)

2

In [57]:
def func2(a):
    x = 2
    return a+x

func2(1)

3

In [58]:
g = 1
def testScope(a):
    global g
    g = 2
    return a+g

testScope(1)

3

In [59]:
g

2

In [60]:
def Values(a=10, b=20):
    return a+b

Values()

30

In [61]:
Values(1,2)

3

In [62]:
def FullName(given_name, family_name):
    full_name = family_name + given_name
    return full_name

FullName(family_name="Cho", given_name="Wonsang")

'ChoWonsang'

In [63]:
def myarg(*arg):
    print(type(arg))
    print(arg)

myarg(1,2,3,4,5)

<class 'tuple'>
(1, 2, 3, 4, 5)

In [64]:
def myarg2(**arg):
    print(type(arg))
    print(arg)
    
myarg2(a='1', b='2', c='3')

<class 'dict'>
{'a': '1', 'c': '3', 'b': '2'}